/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/
.vs/
/.vscode/
.gradle/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
ExportedObj/
.DS_Store
*.apk
*.unitypackage
Thumbs.db
desktop.ini
[Dd]esktop.ini